name: Purge GitHub Readme Stats Cache

on:
  workflow_dispatch:  # gör att du kan köra det manuellt

jobs:
  purge-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Run curl PURGE
        run: |
          curl -X PURGE "https://github-readme-stats.vercel.app/api/top-langs?username=WilleGyr&locale=en&hide_title=false&layout=compact&card_width=320&langs_count=5&theme=material-palenight&hide_border=false"
